/*Drawer bg elements*/
.drawer{
	position:fixed;
	width:85%;
	top:0;
	height:100%;
	overflow:hidden;

   -webkit-transition: left 0.5s linear;
   -moz-transition: left 0.5s linear;
   -o-transition: left 0.5s linear;
   transition: left 0.5s linear;
}

.drawer .bg{
	height:100%;
	width:100%;
}

.drawerContent{
	position:absolute;
	left: 0;
	top:0;
	width:89%;
	height:100%;
}
#Home{
	left:-0%;
}
#About{
	left:5%;
}
#Projects{
	left:10%;
}
#Contact{
	left:15%;
}

/* Active drawers modifications*/
.drawer.active .tab{
	left:89%;
}
.drawer.active .tab img{
	left:-0%;
}
.drawer.active .tab .vertTitle{
	left:25px;
	color:black;
}


/*Tab elements*/
.tab{
	position:absolute;
	width:100%%;
	left:94.11765%;
	height:100%;
	overflow: hidden;
	color:black;
	border-style: solid;
}

.tab img{
	position:absolute;
	height:100%;
	width:100%;
	left:-94.11765%;
	-webkit-filter: blur(5px); /* Chrome, Safari, Opera */
    filter: grayscale(5px);
}


.tab:hover .tabBG{
	cursor:pointer;
	-webkit-filter: blur(2px); /* Chrome, Safari, Opera */
    filter: grayscale(2px);
}

.tab:hover .vertTitle{
	color:white;
}

.vertTitle{
	z-index:2;
	position:absolute;
	bottom:50%;
	transform:rotate(-90deg);
	color:grey;
	font-family: 'Hind', sans-serif;
	font-size: 25px;
	font-weight:bold;
}
.button:hover{
	cursor:pointer;
}
.button{
	z-index:3;
	position:absolute;
	width:100%;
	height:100%;
}